<div class="account" align="left">
  <!--<div><h1>User Account Details</h1></div>-->
  <!--TODO add user images-->
  <!--<div><img ng-if="account.name" ng-src="images/{{account.imgPath}}" class="img-thumbnail" alt="User Image" width="200" height="200"/></div>-->
  <div><img ng-src="images/Icon-user.png" class="img-thumbnail" alt="User Image" width="200" height="200"/></div>
  <div class="row">
    <div class="col-sm-6"><h3>User: {{account.name}}</h3></div>
    <!--<div class="col-sm-6"><p><a class="btn pull-right btn-primary btn-lg" href="#eventsearch/" role="button">Search event</a></p></div>-->
  </div>
  <div class="row">
    <div class="col-sm-6"><h3>Email: {{account.email}}</h3></div>
    <!--<div class="col-sm-6"><p><a class="btn pull-right btn-primary btn-lg" href="#event/create/" role="button">Create new event</a></p></div>-->
  </div>
  <div class="btn-group-vertical" role="group">
    <p><a class="btn btn-primary btn-lg btn-block" href="#eventsearch/" role="button">Calendar</a></p>
    <p><a class="btn btn-primary btn-lg btn-block" href="#event/create/" role="button">Manage Events</a></p>
    <p><a class="btn btn-primary btn-lg btn-block" href="#event/create/" role="button">Edit Profile</a></p>
  </div>

</div>
